.cta
	position absolute
	display block
	size(100%)
	text-transform uppercase
	text-align center
	color #f9fafe
	background-color rgba(0, 0, 0, .3)



	&__primary
		font-family 'Raleway'
		font-size 72px
		font-weight 700

	&__secondary
		margin-top 15px
		font-family 'Open Sans'
		font-size 30px
		font-weight 400



/* Setting titles located in different blocks */

.banner_header

	& .cta__primary
		margin-top 295px


.banner_middle

	& .cta__primary
		margin-top 180px
