.search-form
	margin-top 115px
	display block

	&__request
		padding-left 30px
		width 571px
		line-height 59px
		border none
		border-radius 5px 0 0 5px

		&::placeholder
			font-family 'Raleway'
			font-size 14px
			font-weight 400
			text-transform uppercase
			color #717171

	&__btn
		position relative
		margin-left -6px
		padding-left 25px
		width 200px
		font-family 'Raleway'
		font-size 14px
		font-weight 700
		line-height 60px
		text-transform uppercase
		color white
		background-color #e7434e
		border none
		border-radius 0 5px 5px 0

		&:before
			content ''
			sprite $sailboat
			position absolute
			top 22px
			left 40px
