.button
	margin-x(auto)
	margin-top 35px
	padding-x(45px)
	padding-y(25px)
	display block
	font-family 'Raleway'
	font-size 14px
	font-weight 700
	text-transform uppercase
	border-radius 5px

	&_empty
		line-height 10px
		background none
		border 1px solid rgba(38, 38, 38, .3)
		color #343434

	&_filled
		position relative
		background-color #e7434e
		border none
		color white

	&_cta
		top 380px
		line-height 10px
