.subscribe-form
	display block

	&__label
		margin-bottom 20px
		display block
		font-family 'Raleway'
		font-size 14px
		font-weight 700
		line-height 22px
		text-transform uppercase
		color white

	&__request
		padding-left 20px
		padding-right 10px
		width calc(100% - 35.25%)
		height 42px
		border none
		border-radius 5px 0 0 5px

		&::placeholder
			font-family 'Raleway'
			font-size 14px
			font-weight 400
			color #717171

	&__btn
		position relative
		margin-left -6px
		width 30%
		font-family 'Raleway'
		font-size 14px
		font-weight 700
		line-height 43px
		text-transform uppercase
		color white
		background-color #e7434e
		border none
		border-radius 0 5px 5px 0
