mixin info-counter()
	+b.info-counter&attributes(attributes)
		+e.UL.list
			+e.item
				+e.key: | 2,300
				+e.value: | Destinations
			+e.item
				+e.key: | 1,000
				+e.value: | Cities
			+e.item
				+e.key: | 35,000
				+e.value: | Boats
			+e.item
				+e.key: | 50,000
				+e.value: | Sailors
