include ../header/header
include ../content-section/content-section
include ../destinations-article/destinations-article
include ../boats-article/boats-article
include ../button/button
include ../cta/cta
include ../footer/footer



mixin page()
	+b('body').page&attributes(attributes)
		// Header Section
		+header
		// Content Section
		main.content(role='main')
			// 'Destinations' Section
			+content-section({"title": "EXPLORE OUR TOP DESTINATIONS"}).destinations-section
				block destinations
			// Boat owners CTA banner
			+banner({
				"primary": "HAVE YOUR OWN BOAT?",
				"secondary": "navigare necesse est, vivere non est necesse"})._middle
				+button({
					"type": "button",
					"text": "Make money with your boat"})._cta._filled
			// 'Boats review' Section
			+content-section({"title": "FEATURED BOATS"}).boats-section
				block boats
		// Footer
		+footer
				
		+scripts(['app.min.js'])
			
