mixin boats-article()
	+b.ARTICLE.boats-article&attributes(attributes)
		+e.H6.sub-header: |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab est, sunt corporis.
		+tile-grid({"name": "boats"})
		+button({
			"type": "button",
			"text": "LOAD MORE BOATS"})._empty
