.banner
	position relative
	display block
	background-repeat no-repeat
	background-attachment fixed
	background-position top center
	background-size cover

	&_header
		height 850px
		background-image url(/assets/images/banner-top.jpg)

	&_middle
		height 600px
		background-image url(/assets/images/banner-mid.jpg)
