.header
	position absolute
	margin-top -850px
	display block
	size(100%, 850px)
	text-align center
	background-color rgba(0, 0, 0, .3)

	&__cta
		color #f9fafe
		text-transform uppercase

	&__cta_primary
		margin-top 225px
		font-family 'Raleway'
		font-size 72px
		font-weight 700

	&__cta_secondary
		margin-top 30px
		font-family 'Open Sans'
		font-size 30px
		font-weight 400
