.top-menu
	margin-x(auto)
	padding-x(15px)
	padding-top 40px
	display block
	min-width 1170px
	max-width 1470px
	clearfix()

	&__list
		float right

	&__item
		margin-right 40px
		padding-top 10px
		display inline-block

	&__link
		font-family 'Raleway'
		font-size 16px
		font-weight 700
		line-height 22px
		text-decoration none
		text-transform uppercase
		color #f9fafe

	&__sign-up
		padding-x(40px)
		padding-y(10px)
		float right
		font-family 'Raleway'
		font-size 16px
		font-weight 700
		line-height 22px
		text-transform uppercase
		color #f9fafe
		background none
		border 1px solid #fff
		border-radius 6px
