.top-menu
	margin-x(auto)
	padding-x(15px)
	padding-top 40px
	display block
	min-width 1170px
	max-width 1470px
	// background #b6ed62
	clearfix()

	&__list
		margin-top 10px
		float right

	&__item
		margin-right 40px
		display inline-block

	&__link
		font-family 'Raleway'
		font-size 16px
		font-weight 700
		line-height 22px
		text-decoration none
		text-transform uppercase
		color #f9fafe
