mixin tile-item(data)
	each item in data
		+b.A(href= item.href class='tile-item_#{item.view}')&attributes(attributes)
			+e.IMG(src= item.img).image
			+e.label= item.label
			+e.title= item.title
			+e.primary-text= item.primary
			+e.secondary-text= item.secondary
